.Rproj.user
.Rhistory
.RData
.Ruserdata
.positai

begin_estimates_bypot.csv
begin_estimates_bysp.csv
coal_quant.csv
End_incubation_biomass.csv
FTIR_Sam.csv
Hewitt_biodiv.csv
Manning2015_dryad.csv
Manning2015_dryad.xlsx
Manning2015_suppinfo.docx
soil_13C_calcs.csv
SOM_13C.csv
SOM_2026.csv
SOM_Kimpton.csv
Stagg_harvest.csv
Wigan_myc.csv
Wigan_resp_full.csv
Wigan_respiration.csv
Wigan_sitechar.csv
Wigan_sitedata2023.csv

Wigan_Grasslands.pdf
Wigan_Grasslands_files/